<div class="container">
    <main>
        <section class="hero2">
            

            <section class="box">
                <div class="voltar">
                <a href="/home"><img src="/assets/svgs/Voltar.svg" alt=""></a>
                </div>
                <h1 id="login-h1" class="heroH2">CADASTRE-SE</h1>
                <hr id="login-line2" class="line2">
                <form action="/register" method="POST">
                    <div class="form-control">
                        <input class="input" type="text" name="name" placeholder="Nome">
                    </div>
                    <div class="form-control">
                        <input class="input" type="text" name="email" placeholder="Endereço de email">
                    </div>
                    <div class="form-control">
                        <input class="input" type="password" name="password" placeholder="Inserir senha">
                    </div>
                    <div class="form-control">
                        <input class="input" type="password" id="confirmpassword" name="confirmpassword"
                        placeholder="Confirme a sua senha">
                    </div>
                    <div class="adds">
                        <p>Já tem uma conta?...</p> <a href="/login">Efetue o login</a>
                    </div>
                    <div class="form-control">
                        <input class="login-btn" type="submit" value="Entrar">
                    </div>
                    <div class="adds2">
                        <a href="#"><img src="/assets/svgs/Tw.svg" alt="twitter"></a>
                        <a href="#"><img src="/assets/svgs/Face.svg" alt="facebook"></a>
                        <a href="#"><img src="/assets/svgs/Insta.svg" alt="instagram"></a> 
                    </div>
                </form>
            </section>
            <div class="card">
                <img src="/assets/ilustracao1.svg" alt="">
            </div>   
        </section>
    </main>
</div>