<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenDispose</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     <div class="container">
        <header class="header">
            <section class="logo">
                <img class="logoImg" src="/assets/svgs/plant-statistic602ba9bca0a3a 1Logo.svg" alt="">
                <h1>GreenDispose</h1>
            </section>

            <section class="nav">
                <a class="navLink" href="/">Início</a>
                <a class="navLink" href="#">Sobre</a>
                <a class="navLink" href="#">Serviços</a>
                <a class="navLink" href="#">Contatos</a>
                <a class="navLink" href="/login">Login</a>
            </section>     
        </header>

        {{{body}}}

        <footer class="footer">
            <span>Todos os direitos reservados</span>
        </footer>
    </div>
</body>
</html>