<div class="container">
    <main>
        <section class="hero2">
            <section class="box">
                <div class="voltar">
                <a href="/home"><img src="/assets/svgs/Voltar.svg" alt=""></a>
                </div>
                <h1 id="login-h1" class="heroH3">LOGIN</h1>
                <hr id="login-line" class="line">
                <form action="/login" method="POST">
                    <div class="form-control">
                        <input class="input" type="text" name="email" placeholder="Endereço de email">
                    </div>
                    <div class="form-control">
                        <input class="input" type="password" name="password" placeholder="Inserir senha">
                    </div>
                    <div class="adds">
                        <p>Não tem uma conta?</p><a class="login-link" href="/register">Cadastre-se...</a>
                        <a class="password-link" href="">Esqueci minha senha...</a>
                    </div>
                    <div class="form-control">
                        <input class="login-btn" type="submit" value="Entrar">
                    </div>
                     <div class="adds2">
                        <a href="#"><img src="/assets/svgs/twitter-x 1.svg" alt="twitter"></a>
                        <a href="#"><img src="/assets/svgs/Face.svg" alt="facebook"></a>
                        <a href="#"><img src="/assets/svgs/Insta.svg" alt="instagram"></a> 
                    </div>
                </form>
            </section>
            <div class="card2">
            </div>
        </section>
    </main>
</div>