*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header{
    background-color: #489060;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}
.logo{
    display: flex;
    gap: 10px;
    color: white;
}
.logoImg{
    width: 30px;
    color: white;
}
.navLink{
    color: white;
    text-decoration: none;
    padding: 26px;
}
.hero{
    width: 100vw;
    height: 800px;
    background-image: url("/assets/svgs/ImagemHero.svg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 60px;
    font-family: 'Playfair Display', serif;
}
.hero2{
    width: 100vw;
    height: 800px;
    background-image: url("/assets/img/floresta 1.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 60px;
    font-family: 'Playfair Display', serif;
}
.heroH1{
    font-weight: 700;
    font-size: 90px;
}
.line{
    width: 100px;
    background-color: #489060;
    height: 8px;
    border-color: #489060;
    border-radius: 2px;
    border: none;
}
.heroSpan{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}
.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 500px;
    height: 700px;
    background-color: #DDEDE2;
    border-radius: 2rem;
}
.form-control{
    padding: .5rem; 
    justify-content: center;
    display: flex;
}
.input{
    height: 2.5rem;
    width: 25rem;
    padding-left: 10px;
    border: #489060 1px solid;
    border-radius: 10px;
}
.login-btn{
    width: 23rem;
    height: 2.5rem;
    background-color: white;
    border: 1px solid #489060;
    border-radius: 5px;
    margin-top: 20px;
}
.login-link{
    text-decoration: none;
    color: black;
    margin-left: 17px;
}
.adds{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25.5rem;
}
#login-h1{
    margin-top: 30px;
}
#login-line{
    background-color: white;
    margin-top: -30px;
    margin-bottom: 20px;
}
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 75px;
}
#login-header{
    background-color: white;
}