<div class="containerBC">
<h1 class="cont">CONTATO</h1>
    <hr class="line">
<div class="containerCont">
<div class="asideESQ">
        <h2>Maceió, Alagoas, Brasil</h2>
        <span><img src="/assets/svgs/phone.svg" alt=""> (82)99912-3145</span>
</div>
<div class="asideDIR">
    <form action="post">
        <div class="form-content">
            <input type="text" name="nome" placeholder="Nome">
            <input type="text" name="telefone" placeholder="Telefone">
        </div>
       <div class="form-content2">
        <input type="email" placeholder="Endereço de e-mail">
        <textarea name="msg" cols="30" rows="10" placeholder="Mensagem"></textarea>
        <button class="register-btn">ENVIAR</button>
       </div> 
       
    </form>
    </div>
</div>
</div>
