<main>
    <div class="containerHero">
<section class="hero">
    <h1 class="heroH1">GreenDispose</h1>
        <hr class="line">
    <span class="heroSpan">Creating a Greener Future, One Disposal at a Time</span>
    </section>
    <section class="hero3">
        <article class="cardSobre">
            <h1>SOBRE</h1>
            <hr class="lineS">
            <p>
                Nosso principal objetivo é o incentivo do descarte correto de lixo eletrônico, oferecendo aos usuários a oportunidade de contribuir para a preservação do meio ambiente, evitando o acúmulo de lixo eletrônico em suas casas. Recompensando os usuários por suas participações ativas com descontos e brindes sustentaveis, iremos capacita-los a fazer a diferença no meio ambiente.
            </p>
            <a href="/" class="register-btn2">LEIA MAIS</a>
        </article>
        <div class="chatModal" id="myModal">
            <button id="openChat">
                <img src="/assets/svgs/chatLogo.svg" alt="">
                PERGUNTE A NOSSA I.A
            </button>
            <div class="chatbox">
                <div class="mainBOT">
                    <img src="/assets/svgs/chatBotBC.svg" alt="">
                </div>
            </div>
              <div class="footerBOT">
                    <input type="text" placeholder="Escreva Algo">
                    <button id="btn-submit">Enviar</button>
            </div>
        </div>
    </section>
    <section class="hero4">
        <h1>SERVIÇOS</h1>
        <hr class="line">
        <div class="containerCards">
            <div class="carta">
                <div class="headerCarta"><img src="/assets/svgs/pontuaçao.svg" alt=""></div>
                <h2>PONTUAÇÃO</h2>
                <div class="cartaTexto">Descarte consciente, aumente sua pontuaçâo e troque seus pontospor descontos em eletrônicos</div>
            </div>
            <div class="carta">
                <div class="headerCarta"><img src="/assets/svgs/mapeamento.svg" alt=""></div>               
                <h2>MAPEAMENTO</h2>
                <div class="cartaTexto">Acompanhe em tempo real as unidades mais próximas a você</div>
            </div>
            <div class="carta">
                <div class="headerCarta"><img src="/assets/svgs/atendimento.svg" alt=""></div>               
                <h2>ATENDIMENTO</h2>
                <div class="cartaTexto">Tire suas dúvidas com atendimento personalizado</div>
            </div>
        </div>
    </section>
    <section class="hero5">
        <h1>PARCERIAS</h1>
        <hr class="line">
        <div class="containerPart">
            <div><a target="_blank" href="https://www.terabyteshop.com.br"><img src="/assets/svgs/teraLogo.svg" alt=""></a></div>
            <div><a target="_blank" href="https://www.kabum.com.br"><img src="/assets/svgs/kabumLogo.svg" alt=""></a></div>
            <div><a target="_blank" href="https://www.instagram.com/cooprelbb/"><img src="/assets/svgs/cooprelLogo.svg" alt=""></a></div>
            <div><a target="_blank" href="https://www.instagram.com/coopvila/"><img src="/assets/svgs/coopvilaLogo.svg" alt=""></a></div>
            <div><a target="_blank" href="https://www.instagram.com/maceiocooplum/"><img src="/assets/svgs/cooplumLogo.svg" alt=""></a></div>
        </div>
    </section>
    </div>
    
</main>

