<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenDispose</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <main>
            <section class="hero2">
                <section class="box">
                    <h1 id="login-h1" class="heroH1">LOGIN</h1>
                    <hr id="login-line" class="line">
                    <form action="" method="POST">
                        <div class="form-control">                      
                            <input class="input" type="text" name="name" placeholder="Nome">
                        </div>
                        <div class="form-control">                         
                            <input class="input" type="text" name="email" placeholder="Endereço de email">
                        </div>
                        <div class="form-control">
                            <input class="input" type="text" name="senha" placeholder="Inserir senha">
                        </div>
                        <div class="adds">
                            <a class="login-link" href="">Não tem uma conta? Cadastre-se...</a>
                            <a class="login-link" href="">Esqueci minha senha...</a>
                        </div>
                        <div class="form-control">
                            <input class="login-btn" type="submit" value="Entrar">
                        </div>
                    </form>
                </section>
            </section>
        </main>
    </div>
</body>
</html>